{% extends "mockup/base.html" %}

{% block title %}SSON Analytics Test Workbook 2017{% endblock %}

{% block activepage %} class="active" {% endblock %} 

{% block subtitle %}
INTRODUCTION
{% endblock %}

{% block content %}
<div class="wrapper">
<h4>Cras rhoncus laoreet semper</h4>
<p>Suspendisse vitae odio placerat, tristique magna in, fermentum odio, Morbi sollicitudin scelerisque ornare, Integer vitae pharetra tellus. Integer ac lobortis eros. Aliquam interdum neque vel lacus facilisis accumsan.
</p>
<p>
Pellentesque euismod liqula aliquet sem faucibus ultrices, Interdum et malesuada fames ac ante ipsum primis in faucibus, Aliquam varius dignissim magna sed aliquam.	
</p>
<p>
<ul>
	<li><span>Quisque non mi nibh</span></li>
	<li><span>Vivamus libero velit</span></li>
	<li><span>eleifend eget tristique eu</span></li>
</ul>
</p>
<div class="contentfooter">
<p>Published March 2017</p>
</div>
</div>
{% endblock %}